$free-session-blick-tablet-height: 324px;

.contacts {
  padding-top: 70px;
  padding-bottom: 60px;
  min-height: 337px;
  background:
    linear-gradient(
      to right,
      $color-sapphire 0% 50%,
      $color-default-white 50% 100%);

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include vp-1199 {
    padding-top: 0;
    padding-bottom: 0;
    min-height: none;
    background:
    linear-gradient(
      to bottom,
      $color-sapphire 0% $free-session-blick-tablet-height,
      $color-default-white $free-session-blick-tablet-height 100%);

    .container {
      display: flex;
      flex-direction: column;
    }
  }
}

.contacts__title {
  margin: 0;
  padding: 0;
  font: 700 49px/120% $ff-bebas-neue;
  color: $color-sapphire;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;

  &--free-session {
    margin-top: -5px;
    margin-bottom: 33px;
    color: $color-default-white;
  }

  &--info {
    margin-top: -5px;
    margin-bottom: 33px;
  }

  @include vp-1199 {
    font-size: 42px;

    &--free-session {
      margin-top: -3px;
      margin-bottom: 28px;
    }

    &--info {
      margin-bottom: 26px;
    }
  }
}

.contacts__free-session {
  margin-right: 170px;

  @include vp-1199 {
    min-height: $free-session-blick-tablet-height;
    padding: 70px 88px;
    margin-right: 29px;
  }
}

.contacts__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @include vp-1199 {
    column-gap: 60px;
    row-gap: 30px;
  }
}

.contacts__info {
  padding-left: 120px;

  @include vp-1199 {
    padding: 70px 88px 63px;
  }
}

.contacts__list {
  margin: 0 0 0 4px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 18px;

  @include vp-1199 {
    margin: 0;
  }
}

.contacts__heading {
  margin: 0 0 2px;
  padding: 0;
  font: 700 16px/150% $ff-roboto-condensed;
  color: $color-sapphire;

  & + p,
  & + a,
  & + address {
    margin: 0;
    padding: 0;
    font: 400 14px/152.3% $ff-roboto-condensed;
    color: $color-sapphire;
  }

  @include vp-1199 {
    font-size: 20px;
    margin: 0 0 6px;

    & + p,
    & + a,
    & + address {
      font-size: 18px;
    }
  }
}

.contacts__item {
  &:nth-child(2n) {
    margin-left: 62px;
  }

  a {
    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        text-decoration: underline;
      }

      &:focus {
        outline: 3px solid $color-torch-red;
        outline-offset: 5px;
      }
    }
  }
}
