.key-points {
  padding-top: 120px;
  padding-bottom: 96px;
  background-color: $color-ghost-white;
}

.key-points__title {
  margin: -3px 0 37px;
  padding: 0;
  font: 700 49px/120% $ff-bebas-neue;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  text-transform: uppercase;
  text-align: center;
}

.key-points__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  grid-auto-rows: minmax(177px, auto);
}

.key-points__key {
  position: relative;
  margin-top: -3px;

  font: 700 71px/150% $ff-roboto-condensed;
  color: $color-cobalt;
  background: linear-gradient(to left top, $color-cobalt, 78%, $color-torch-red);
  -webkit-text-fill-color: transparent;
  background-clip: text;

  span {
    display: block;
    position: absolute;
    bottom: 1px;
    left: 0;
    font: 400 14px/150% $ff-roboto-condensed;
    color: $color-persian-blue;
    -webkit-text-fill-color: initial;
    background: none;
  }
}

.key-points__heading {
  margin: 0 0 6px;
  padding: 0;
  font: 700 22px/150% $ff-roboto-condensed;
  color: $color-sapphire;

  & + p {
    margin: 0;
    padding: 0;
    font: 400 16px/140% $ff-roboto-condensed;
    color: $color-sapphire;
  }
}

.key-points__item {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-end;

  &:nth-child(5n + 1) {
    margin-right: 56px;

    .key-points__description {
      margin-top: 18px;
      margin-left: 30px;
    }
  }

  &:nth-child(5n + 2) {
    grid-column: 2 / 3;
    grid-row: auto / span 2;
    min-height: 307px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 41px 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: $color-resolution-blue;

    .key-points__key {
      margin-bottom: 32px;
      color: $color-default-white;
      background: none;
      -webkit-text-fill-color: initial;
      text-align: center;

      span {
        display: block;
        margin-top: -14px;
        position: static;
        font: 700 26px/150% $ff-roboto-condensed;
        color: $color-default-white;
        -webkit-text-fill-color: initial;
        background: none;
      }
    }

    .key-points__description {
      .key-points__heading {
        text-align: center;
        color: $color-default-white;
      }

      p {
        margin: 0;
        padding: 0;
        color: $color-default-white;
        text-align: center;
      }
    }
  }

  &:nth-child(5n + 3) {
    margin-left: 61px;
    justify-content: flex-start;

    .key-points__key {
      margin-right: 30px;
    }

    .key-points__description {
      margin-top: 18px;
    }
  }


  &:nth-child(5n + 4) {
    margin-right: 56px;
    margin-bottom: 19px;
    align-items: flex-end;

    .key-points__description {
      margin-left: 30px;
    }
  }

  &:nth-child(5n + 5) {
    margin-left: 61px;
    margin-bottom: 19px;
    align-items: flex-end;
    justify-content: flex-start;

    .key-points__description {
      margin-left: 32px;
    }
  }
}
