.reviews {
  padding-bottom: 120px;
  background-color: $color-default-white;

  @include vp-1199 {
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-bottom: 70px;
  }
}

.reviews__title {
  margin: -5px 0 44px;
  padding: 0;
  font: 700 49px/120% $ff-bebas-neue;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  text-align: center;

  @include vp-1199 {
    font-size: 42px;
    margin: -3px 0 34px;
  }

  @include vp-767 {
    font-size: 32px;
    margin-bottom: 39px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.reviews__item {
  width: 560px;
  min-height: 242px;
  margin-left: auto;
  margin-right: auto;
  padding: 62px 62px 58px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;

  background-color: $color-resolution-blue;

  figure {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 80px 1fr;
    column-gap: 28px;
  }

  img {
    grid-row: auto / span 2;
  }

  figcaption {
    margin: -7px 0 12px;
    font: 700 20px/150% $ff-roboto-condensed;
    color: $color-default-white;
  }

  blockquote {
    margin: 0;
    padding: 0;
    font: 400 16px/140% $ff-roboto-condensed;
    color: $color-default-white;
  }

  @include vp-1199 {
    width: 566px;
    padding: 62px 65px 56px;
  }

  @include vp-767 {
    width: 226px;
    padding: 40px 28px 33px;

    figure {
      grid-template-columns: 1fr 1fr;
      column-gap: 23px;
      row-gap: 15px;
    }

    img {
      width: 68px;
      height: 68px;
      grid-row: auto;
      margin-left: 13px;
    }

    figcaption {
      margin-top: 8px;
      margin-bottom: 0;
      line-height: 130%;
    }

    blockquote {
      grid-column: 1 / -1;
      text-align: center;
    }
  }
}
