.supergames {
  padding-top: 120px;
  padding-bottom: 120px;

  .container {
    display: grid;
    grid-template-columns: 500px 1fr;
    min-height: 500px;
  }

  @include vp-1199 {
    padding-top: 99px;
    padding-bottom: 100px;

    .container {
      grid-template-columns: 292px 1fr;
      min-height: 292px;
    }
  }
}

.supergames__info {
  position: relative;
  padding: 87px 77px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $color-torch-red;
  color: $color-default-white;

  dl, dd, dt {
    margin: 0;
    padding: 0;
  }

  dt {
    position: relative;
    font: 400 18px/150% $ff-roboto-condensed;
  }

  dt::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 64px;
    height: 1px;
    background-color: $color-default-white;
  }

  dd {
    font: 400 14px/150% $ff-roboto-condensed;

    span {
      font: 700 40px/150% $ff-roboto-condensed;
    }
  }

  @include vp-1199 {
    padding: 51px 45px;

    dt {
      font-size: 12px;
    }

    dt::after {
      bottom: -1px;
      width: 42px;
    }

    dd {
      font-size: 10px;
      line-height: 1.1;

      span {
        font-size: 24px;
      }
    }
  }
}

.supergames__title {
  margin: 1px 0 3px;
  padding: 0;
  font: 700 90px/100% $ff-bebas-neue;
  letter-spacing: 0.03em;

  & + p {
    margin: 0 0 47px;
    padding: 0;
    font: 400 18px/150% $ff-roboto-condensed;
    color: $color-default-white;
  }

  @include vp-1199 {
    font-size: 52px;
    margin: 0 0 -3px;

    & + p {
      font-size: 12px;
      margin-bottom: 31px;
    }
  }
}

.supergames__date {
  position: absolute;
  top: 80px;
  right: 108px;

  dd {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    span {
      margin-right: 7px;
    }
  }

  @include vp-1199 {
    top: 48px;
    right: 59px;

    dd {
      margin-top: -2px;

      span {
        margin-right: 4px;
      }
    }
  }
}

.supergames__time {
  position: absolute;
  top: 175px;
  right: 80px;

  dt::after {
    width: 88px;
  }

  @include vp-1199 {
    top: 100px;
    right: 46px;

    dt::after {
      bottom: -2px;
      width: 56px;
    }

    dd {
      margin-top: -2px;
    }
  }
}

.supergames__btn {
  padding: 24px 24px;

  @include vp-1199 {
    padding-top: 13px;
    padding-bottom: 11px;
    border-width: 2px;
    font-size: 10px;
  }
}

.supergames__image {
  background-color: $color-sapphire;
  background-image: url("../img/content/supergames-desktop.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @include retina {
    background-image: url("../img/content/supergames-desktop@2x.jpg");
  }

  @include vp-1199 {
    background-image: url("../img/content/supergames-tablet.jpg");

    @include retina {
      background-image: url("../img/content/supergames-tablet@2x.jpg");
    }
  }
}
