.video {
  background-color: $color-default-black;

  &--enabled {
    cursor: pointer;

    .video__button {
      display: block;
    }
  }
}

.video__link {
  display: block;
  width: 100%;
  height: 100%;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize($color: $color-dark-cerulean, $amount: 0.5);
    transition: background-color $trans-default;
  }
}

.video__media {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 0;
  padding: 0;
  background-color: $color-transparent;

  display: none;

  stop {
    transition: stop-color $trans-default;
  }
  .video__button-stroke {
    transition: stroke-opacity $trans-default;
  }
}

.video__button-icon-gradient {
  stop:first-of-type {
    stop-color: $color-dark-cerulean;
  }
  stop:not(:first-of-type) {
    stop-color: $color-venetian-red;
  }
}
.video__button-stroke-gradient {
  stop:first-of-type {
    stop-color: $color-torch-red;
  }
  stop:not(:first-of-type) {
    stop-color: $color-cobalt;
  }
}

.video:hover,
.video__button:focus {
  .video__button-stroke {
    stroke-opacity: 0.6;
  }
  .video__button-icon-gradient {
    stop:first-of-type {
      stop-color: $color-cobalt;
    }
    stop:not(:first-of-type) {
      stop-color: $color-torch-red;
    }
  }
  .video__link::after {
    background-color: transparentize($color: $color-dark-cerulean, $amount: 0.2);
  }
}
